.mainPage {
  display: flex;
  flex-direction: column;
}
.tableTask {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4rem;
  span {
    color: var(--gray-100);
    background-color: var(--gray-400);
    padding: 2px 8px;
    border-radius: 999px;
  }
}
.headerTable {
  display: flex;
  width: 738px;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;

  h1 {
    font-weight: 700;
    font-size: 0.8rem;
  }
}
.createdTask {
  color: var(--blue);
}
.completedTask {
  color: var(--purple);
}
.taskList{
  li{
    margin-top: 1rem;
  }
}
